
.card {
	position: relative;
	width: 5cm;
	height: 7.5cm;
	font-size: 11pt;
	font-family: 'Bitstream Charter', 'URW Palladio L', Palatino, 'Palatino Linotype', 'Hoefler Text', Georgia, 'Book Antiqua', Times, 'Times New Roman', serif;
	text-align: left;
	border-radius: 5px;
	border: 5px solid #444;
	background-color: rgba(255,255,255,0.5);
	background-image: url("texture.png");
	color: #000;
	box-shadow: 0 0 250px 10px rgba(255,255,255,0.9) inset, 0 0 250px 10px rgba(255,255,255,0.9) inset, 0 0 250px 10px rgba(20,0,0,0.9) inset;
}
.header {
	height: 1em;
	line-height: 1em;
	vertical-align: middle;
}
.header * {
	display: inline-block;
	vertical-align: middle;
}
.header .money {
	float: right;
	margin-right: 1mm;
}
.upper-stat-bar {
	border: 1px solid black;
	line-height: 1;
	font-size: 0.25cm;
	height: 1em;
	background: 
		repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			#ccc 10px,
			#ccc 20px
		),
		linear-gradient(
			to bottom,
			#eee,
			#999
		);
}
.upper-stat-bar .subthing {
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0.5); /*#D2D1D5;*/
	/*border: 1px solid black;*/
	/*box-shadow: 0 0 0 1px black;*/
	box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
}
.major-types {
	/*border-bottom-right-radius: 20px 100%;
	padding-right: 15px;*/
	/*height: 110%;
	z-index: -21;*/
}
.lower-stat-bar {
	font-size: 1em;
	line-height: 1em;
	height: 1em;
	vertical-align: middle;
	padding: 1mm;
}
.minor-types {
	opacity: 0.8;
	font-size: 0.8em;
}

.money {
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	border-radius: 100% 100%;
	border: 0.3mm solid black;
	background: yellow;
	box-shadow: 0.1mm 0.1mm 0.6mm 0.1mm #FFF inset, -0.3mm -0.3mm 0.6mm 0.1mm #FA0 inset;
	text-align: center;
	vertical-align: middle;
	line-height: 0.8em;
	font-family: Helvetica, sans-serif;
	overflow: hidden;
}
.money > span {
	white-space: nowrap;
	font-size: 1em;
	line-height: 1em;
	vertical-align: middle;
}

.image {
	width: 90%;
	height: 40%;
	margin: auto;
	border: 0.5mm solid #ADE;
	box-shadow: 1px 2px 3px 0 rgba(20,10,0,0.5);
	overflow: hidden;
	background: black;
}
.image img {
	width: 100%;
	height: 100%;
	border: 0;
}
.id {
	position: absolute;
	right: 1px;
	bottom: 1px;
	color: rgba(0,0,0,0.8);
	font-size: 5pt;
}
.description {
	font-size: 7pt;
	font-family: Helvetica, sans-serif;
	padding: 1mm;
	margin: 1mm;
	background: rgba(255,255,255,0.7);
	border: 1px solid gray;
	border-radius: 1mm;
}
.name {
	font-weight: bold;
	font-size: 10pt;
}
q {
	quotes: "“" "”" "‘" "’";
	font-style: italic;
	opacity: 0.9;
}
q:before {
	content: open-quote;
}
q:after {
	content: close-quote;
}
