
.card {
	position: relative;
	width: 5cm;
	height: 7.5cm;
	font-size: 11pt;
	font-family: 'Bitstream Charter', 'URW Palladio L', Palatino, 'Palatino Linotype', 'Hoefler Text', Georgia, 'Book Antiqua', Times, 'Times New Roman', serif;
	text-align: left;
	border-radius: 5px;
	border: 5px solid #444;
	background-color: rgba(255,255,255,0.5);
	background-image: url("pentagonz.png");
	background-blend-mode: luminosity;
	color: #000;
	box-shadow: 0 0 500px 0 rgb(255, 255, 255) inset;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
}
.card.back {
	background-blend-mode: normal;
	box-shadow: none;
}
.card.system,
.card.leader {
	background-color: #607D8B;
}
.card.place {
	background-color: #4CAF50;
}
.card.permanent {
	background-color: #9C27B0;
}
.card.force {
	background-color: #0070FF;
}
.card.instant {
	background-color: #FFEB3B;
}
.arrows {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}
.arrow {
	width: 0;
	border-style: solid;
	border-width: 10px;
	border-color: transparent;
	border-top-color: currentColor;
	border-top-width: 10px;
	border-bottom-width: 0;
}
.arrow.force {
	color: #0070FF;
}
.arrow.place {
	color: #4CAF50;
}
.arrow.any {
	color: #7D7D7D;
}
.header,
.header * {
	vertical-align: middle;
}
.header {
	min-height: 2em;
}
.header .money {
	float: right;
}
.categorical-bar {
	margin: 3px 0;
	padding: 2px;
	border: 1px solid black;
	line-height: 1;
	font-size: 0.25cm;
	height: 1em;
	background: 
		repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			#ccc 10px,
			#ccc 20px
		),
		linear-gradient(
			to bottom,
			#eee,
			#999
		);
	overflow: hidden;
}
.categorical-bar > div {
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0.5); /*#D2D1D5;*/
	box-shadow: 0 0 9px 5px rgba(255, 255, 255, 0.5);
}
.lower {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}
.minor-types {
	font-size: 0.7em;
	line-height: 1em;
	height: 1em;
	vertical-align: middle;
	padding: 10px;
}
.attack-defence {
	float: right;
	padding: 5px;
	font-size: 14pt;
}

.money {
	display: inline-block;
	width: 1.1em;
	height: 1.1em;
	line-height: 1em;
	border-radius: 100% 100%;
	border: 0.3mm solid black;
	background: yellow;
	box-shadow: 0.1mm 0.1mm 0.6mm 0.1mm #FFF inset, -0.3mm -0.3mm 0.6mm 0.1mm #FA0 inset;
}
.money,
.damage-counter,
.revolution-counter {
	vertical-align: middle;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	line-height: 0.8em;
}
.money > span,
.damage-counter > span,
.revolution-counter > span {
	white-space: nowrap;
	font-size: 1em;
	vertical-align: middle;
	font-family: "Impact", serif;
}

.damage-counter {
	width: 1.4em;
	height: 1.4em;
	line-height: 1.2em;
	position: relative;
	text-align: center;
	display: inline-block;
	background: url("damage.svg");
	background-size: contain;
}
/*
.revolution-counter {
	width: 1.1em;
	height: 1.1em;
	position: relative;
	text-align: center;
	display: inline-block;
}
.revolution-counter > span {
	position: relative;
	z-index: 1;
	display: inline-block;
}
.revolution-counter:before,
.revolution-counter:after,
.revolution-counter > span:before,
.revolution-counter > span:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1.1em;
	height: 1.1em;
	background: #FF2620;
	-webkit-transform-origin: 50% 50%;
}
.revolution-counter:before,
.revolution-counter:after {
	background: #000;
}
.revolution-counter:before,
.revolution-counter:before {
	-webkit-transform: rotate(155deg);
	-moz-transform: rotate(155deg);
	-ms-transform: rotate(155deg);
	-o-transform: rotate(155deg);
}
.revolution-counter > span:after,
.revolution-counter > span:after {
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
}
*/

.revolution-counter::after {
	content: "";
	width: 1.2em;
	height: 1.2em;
	background-image: url("revolution.svg");
	background-size: contain;
}


.image {
	height: 40%;
	margin: auto;
	border: 0.5mm solid #ADE;
	box-shadow: 1px 2px 3px 0 rgba(20,10,0,0.5);
	overflow: hidden;
	background: black;
}
.image img {
	width: 100%;
	height: 100%;
	border: 0;
}
.description {
	font-size: 7.4pt;
	font-family: Helvetica, sans-serif;
	margin: 2mm 0;
}

.name {
	font-size: 20px;
	font-family: "Impact", fantasy;
	line-height: 0.7em;
}
q {
	quotes: "“" "”" "‘" "’";
	font-style: italic;
	opacity: 0.9;
}
q:before {
	content: open-quote;
}
q:after {
	content: close-quote;
}
