.card {
	position: relative;
	width: 225px;
	height: 325px;
	box-sizing: border-box;
	font-size: 11pt;
	font-family: 'Bitstream Charter', 'URW Palladio L', Palatino, 'Palatino Linotype', 'Hoefler Text', Georgia, 'Book Antiqua', Times, 'Times New Roman', serif;
	text-align: left;
	border-radius: 5px;
	border: 5px solid #444;
	background-color: rgba(255,255,255,0.5);
	background-image: url("../images/texture/pentagons.png");
	background-blend-mode: luminosity;
	color: #000;
	box-shadow: 0 0 500px 0 rgb(255, 255, 255) inset;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
}
.card.back {
	background-blend-mode: normal;
	box-shadow: none;
}
.card.system,
.card.leader {
	background-color: #607D8B;
}
.card.place {
	background-color: #4CAF50;
}
.card.permanent {
	background-color: #9C27B0;
}
.card.force {
	background-color: #0070FF;
}
.card.event {
	background-color: #FFEB3B;
}
.arrows {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}
.arrow {
	width: 0;
	border-style: solid;
	border-width: 10px;
	border-color: transparent;
	border-top-color: currentColor;
	border-top-width: 10px;
	border-bottom-width: 0;
}
.arrow.force {
	color: #0070FF;
}
.arrow.place {
	color: #4CAF50;
}
.arrow.any {
	color: #7D7D7D;
}
.header,
.header * {
	vertical-align: middle;
}
.header {
	min-height: 2em;
}
.header .money {
	float: right;
}
.categorical-bar {
	margin: 3px 0;
	padding: 2px;
	border: 1px solid black;
	line-height: 1;
	font-size: 0.25cm;
	height: 1em;
	background:
		repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			#ccc 10px,
			#ccc 20px
		),
		linear-gradient(
			to bottom,
			#eee,
			#999
		);
	overflow: hidden;
}
.categorical-bar > div {
	text-transform: uppercase;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 9px 5px rgba(255, 255, 255, 0.5);
}
.category {
	float: left;
}
.major-types {
	float: right;
}
.lower {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
}
.minor-types {
	font-size: 0.7em;
	line-height: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
}
.attack-defense {
	float: right;
	font-size: 14pt;
}

.image {
	height: 40%;
	margin: auto;
	border: 0.5mm solid #ADE;
	box-shadow: 1px 2px 3px 0 rgba(20,10,0,0.5);
	overflow: hidden;
	background: black;
}
.image img {
	width: 100%;
	height: 100%;
	border: 0;
}
.description {
	font-size: 6.4pt;
	font-family: Helvetica, sans-serif;
	margin: 2mm 0;
}
.card p + p {
	margin-top: 4px;
}

.name {
	font-size: 20px;
	font-family: "Impact", fantasy;
	line-height: 0.7em;
}
q {
	quotes: "“" "”" "‘" "’";
	font-style: italic;
	opacity: 0.9;
}
q:before {
	content: open-quote;
}
q:after {
	content: close-quote;
}
